In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

from datetime import datetime, timedelta
import time


import warnings
warnings.filterwarnings('ignore')

In [2]:
#Allows us to run on different computers without a problem

path ={'roy' :'C:\Windows\chromdriver.exe' , 'yarin': r"C:\Users\yarin\chromedriver.exe", 'yair':'C:\Windows\chromdriver.exe' }

In [3]:
def scroll(driver):
    time.sleep(3)
    time_to_wait = 25 
    start = time.time()
    while True:
        driver.execute_script('scrollBy(0,500)')
        time.sleep(0.5)
        if start + time_to_wait < time.time():
            break
        
    try:
        for i in range(0,2):
            button=driver.find_element(by =By.CSS_SELECTOR,value =f'[data-stid="show-more-results"]')
            button.click()
            time.sleep(3)
    except:
        pass

In [4]:
Unsuccessful_list  = [] # A list that saves the names of the hotels that have a problem in order to optimize and not try to extract information again

def single_search(url,driver, Snapshot_date, checking_date_type, checkout_date_type):
    
    hotels = []
    hotels_name = []
    index = 1
    driver.get(url)  
    scroll(driver)
    text_boxes_list = driver.find_elements(by = By.XPATH , value='.//*[@class="uitk-spacing uitk-spacing-margin-blockstart-three"]')
    for t_box in text_boxes_list:
        if len(hotels)>= 100:
            break
        hotel = {'Snapshot' : None ,'Index':None,'Hotel Name':None,'TTT':None,'LOS':None ,"Grade":None,
         "Num of Reviews":None,"Curr Price":None,"Original Price":None, 'Left at this Price': None,
         'Included': None, 'Refundable': None,
         'Pay Later': None, 'Option Member': None}
        try:

            hotel['Snapshot'] = Snapshot_date
            delta_TTT =  checking_date_type - Snapshot_date
            hotel['TTT'] = delta_TTT.days
            hotel['LOS'] = (checkout_date_type - checking_date_type).days
            hotel['Index'] = index
            
            name = t_box.find_element(by= By.CLASS_NAME , value="uitk-heading").text
            hotel['Hotel Name'] = name
            if hotel['Hotel Name'] in hotels_name:
                continue
            if (name in Unsuccessful_list):#Avoid hotels that we cannot extract
                    continue
            score_count = t_box.find_element(By.XPATH, './/*[@class="uitk-layout-flex uitk-layout-flex-flex-direction-column uitk-layout-flex-gap-three"]').text
            hotel['Num of Reviews'] = score_count.split('\n')[::-1][1]
            if ("Fully refundable" in score_count):
                hotel['Refundable'] = True
            else:
                hotel['Refundable'] = False
            
            if ("Reserve now, pay later" in score_count):
                hotel['Pay Later'] = True
            else:
                hotel['Pay Later'] = False

            score = t_box.find_element(By.CLASS_NAME, 'uitk-spacing-padding-inlineend-half').text
            hotel['Grade'] = score 
            
            price = t_box.find_element(By.CSS_SELECTOR, "div[data-test-id='price-summary-message-line']").text.split('$')
            hotel['Curr Price'] = price[-1]
            if len(price) > 3:
                hotel['Original Price'] = price[1].split('\n')[0]

            try:
                hotel['Left at this Price'] = t_box.find_element(By.CLASS_NAME, 'uitk-badge-text').text
            except:
                pass
            try:
                included_sel_type = t_box.find_elements(By.XPATH, './/*[@class="uitk-text truncate uitk-type-200 uitk-text-default-theme"]')
                included_list_type = []
                for i in included_sel_type:
                    included_list_type.append(i.text)
                hotel['Included'] = included_list_type
            except:
                pass
           
            try:
                x = t_box.find_element(By.XPATH, './/*[@class="uitk-icon uitk-icon-leading uitk-icon-medium"]').text
                hotel['Option Member'] = True 
            except:
                hotel['Option Member'] = False
            
            index = index + 1
            hotels_name.append(hotel['Hotel Name'])
            hotels.append(hotel)
        except:
            print('error' , name)
            Unsuccessful_list.append(name)
    
    return pd.DataFrame.from_dict(hotels)

In [5]:
# Get today's date
now = datetime.now()
Snapshot_date =now
# Get end date 35 days from now
end_date = now + timedelta(days=35)

# Create a list of all dates between today and end date
date_list = []
while now <= end_date:
    date_list.append(now.strftime('%Y-%m-%d'))
    now += timedelta(days=1)


#Creates a list whose every member is a list of checking and checkout time

combinations_list =[]
for i in range(1,len(date_list)-5):
    for j in range(1,6):
        combinations = [date_list[i],date_list[i+j]]
        combinations_list.append(combinations)

print(combinations_list , len(combinations_list))

[['2023-03-04', '2023-03-05'], ['2023-03-04', '2023-03-06'], ['2023-03-04', '2023-03-07'], ['2023-03-04', '2023-03-08'], ['2023-03-04', '2023-03-09'], ['2023-03-05', '2023-03-06'], ['2023-03-05', '2023-03-07'], ['2023-03-05', '2023-03-08'], ['2023-03-05', '2023-03-09'], ['2023-03-05', '2023-03-10'], ['2023-03-06', '2023-03-07'], ['2023-03-06', '2023-03-08'], ['2023-03-06', '2023-03-09'], ['2023-03-06', '2023-03-10'], ['2023-03-06', '2023-03-11'], ['2023-03-07', '2023-03-08'], ['2023-03-07', '2023-03-09'], ['2023-03-07', '2023-03-10'], ['2023-03-07', '2023-03-11'], ['2023-03-07', '2023-03-12'], ['2023-03-08', '2023-03-09'], ['2023-03-08', '2023-03-10'], ['2023-03-08', '2023-03-11'], ['2023-03-08', '2023-03-12'], ['2023-03-08', '2023-03-13'], ['2023-03-09', '2023-03-10'], ['2023-03-09', '2023-03-11'], ['2023-03-09', '2023-03-12'], ['2023-03-09', '2023-03-13'], ['2023-03-09', '2023-03-14'], ['2023-03-10', '2023-03-11'], ['2023-03-10', '2023-03-12'], ['2023-03-10', '2023-03-13'], ['2023-03-10', '2023-03-14'], ['2023-03-10', '2023-03-15'], ['2023-03-11', '2023-03-12'], ['2023-03-11', '2023-03-13'], ['2023-03-11', '2023-03-14'], ['2023-03-11', '2023-03-15'], ['2023-03-11', '2023-03-16'], ['2023-03-12', '2023-03-13'], ['2023-03-12', '2023-03-14'], ['2023-03-12', '2023-03-15'], ['2023-03-12', '2023-03-16'], ['2023-03-12', '2023-03-17'], ['2023-03-13', '2023-03-14'], ['2023-03-13', '2023-03-15'], ['2023-03-13', '2023-03-16'], ['2023-03-13', '2023-03-17'], ['2023-03-13', '2023-03-18'], ['2023-03-14', '2023-03-15'], ['2023-03-14', '2023-03-16'], ['2023-03-14', '2023-03-17'], ['2023-03-14', '2023-03-18'], ['2023-03-14', '2023-03-19'], ['2023-03-15', '2023-03-16'], ['2023-03-15', '2023-03-17'], ['2023-03-15', '2023-03-18'], ['2023-03-15', '2023-03-19'], ['2023-03-15', '2023-03-20'], ['2023-03-16', '2023-03-17'], ['2023-03-16', '2023-03-18'], ['2023-03-16', '2023-03-19'], ['2023-03-16', '2023-03-20'], ['2023-03-16', '2023-03-21'], ['2023-03-17', '2023-03-18'], ['2023-03-17', '2023-03-19'], ['2023-03-17', '2023-03-20'], ['2023-03-17', '2023-03-21'], ['2023-03-17', '2023-03-22'], ['2023-03-18', '2023-03-19'], ['2023-03-18', '2023-03-20'], ['2023-03-18', '2023-03-21'], ['2023-03-18', '2023-03-22'], ['2023-03-18', '2023-03-23'], ['2023-03-19', '2023-03-20'], ['2023-03-19', '2023-03-21'], ['2023-03-19', '2023-03-22'], ['2023-03-19', '2023-03-23'], ['2023-03-19', '2023-03-24'], ['2023-03-20', '2023-03-21'], ['2023-03-20', '2023-03-22'], ['2023-03-20', '2023-03-23'], ['2023-03-20', '2023-03-24'], ['2023-03-20', '2023-03-25'], ['2023-03-21', '2023-03-22'], ['2023-03-21', '2023-03-23'], ['2023-03-21', '2023-03-24'], ['2023-03-21', '2023-03-25'], ['2023-03-21', '2023-03-26'], ['2023-03-22', '2023-03-23'], ['2023-03-22', '2023-03-24'], ['2023-03-22', '2023-03-25'], ['2023-03-22', '2023-03-26'], ['2023-03-22', '2023-03-27'], ['2023-03-23', '2023-03-24'], ['2023-03-23', '2023-03-25'], ['2023-03-23', '2023-03-26'], ['2023-03-23', '2023-03-27'], ['2023-03-23', '2023-03-28'], ['2023-03-24', '2023-03-25'], ['2023-03-24', '2023-03-26'], ['2023-03-24', '2023-03-27'], ['2023-03-24', '2023-03-28'], ['2023-03-24', '2023-03-29'], ['2023-03-25', '2023-03-26'], ['2023-03-25', '2023-03-27'], ['2023-03-25', '2023-03-28'], ['2023-03-25', '2023-03-29'], ['2023-03-25', '2023-03-30'], ['2023-03-26', '2023-03-27'], ['2023-03-26', '2023-03-28'], ['2023-03-26', '2023-03-29'], ['2023-03-26', '2023-03-30'], ['2023-03-26', '2023-03-31'], ['2023-03-27', '2023-03-28'], ['2023-03-27', '2023-03-29'], ['2023-03-27', '2023-03-30'], ['2023-03-27', '2023-03-31'], ['2023-03-27', '2023-04-01'], ['2023-03-28', '2023-03-29'], ['2023-03-28', '2023-03-30'], ['2023-03-28', '2023-03-31'], ['2023-03-28', '2023-04-01'], ['2023-03-28', '2023-04-02'], ['2023-03-29', '2023-03-30'], ['2023-03-29', '2023-03-31'], ['2023-03-29', '2023-04-01'], ['2023-03-29', '2023-04-02'], ['2023-03-29', '2023-04-03'], ['2023-03-30', '2023-03-31'], ['2023-03-30', '2023-04-01'], ['2023-03-30', '2023-04-02'], ['2023-03-30', '2023-04-03'], ['2023-03-30', '2023-04-04'], ['2023-03-31', '2023-04-01'], ['2023-03-31', '2023-04-02'], ['2023-03-31', '2023-04-03'], ['2023-03-31', '2023-04-04'], ['2023-03-31', '2023-04-05'], ['2023-04-01', '2023-04-02'], ['2023-04-01', '2023-04-03'], ['2023-04-01', '2023-04-04'], ['2023-04-01', '2023-04-05'], ['2023-04-01', '2023-04-06'], ['2023-04-02', '2023-04-03'], ['2023-04-02', '2023-04-04'], ['2023-04-02', '2023-04-05'], ['2023-04-02', '2023-04-06'], ['2023-04-02', '2023-04-07']] 150

In [10]:
#fake for bot
driver = webdriver.Chrome(path['roy'])
url = "https://www.expedia.com/Hotel-Search?adults=2&children=0&d1=%5B%272023%27%2C%20%2703%27%2C%20%2703%27%5D&d2=%5B%272023%27%2C%20%2703%27%2C%20%2704%27%5D&destination=New%20York%20%28and%20vicinity%29%2C%20New%20York%2C%20United%20States%20of%20America&endDate=2023-03-17&regionId=178293&semdtl=&sort=RECOMMENDED&startDate=2023-03-16&theme=&useRewards=false&userIntent="
driver.get(url) 
driver.maximize_window()
driver.get(url)

In [11]:
# for dev
combinations_list = combinations_list[0:2:] 
# END - for dev


city = "New%20York%20%28and%20vicinity%29%2C%20New%20York%2C%20United%20States%20of%20America"
city_latlong = 'latLong=40.75668%2C-73.98647'
city_region_id = '178293'
numOfAdults=2
numOfChild=0
numOfRooms=1
expedia_df = pd.DataFrame(columns=['Snapshot' ,'Index','Hotel Name','TTT','LOS',"Grade",
                                "Num of Reviews","Curr Price","Original Price", 'Left at this Price',
                                'Included', 'Refundable','Pay Later', 'Option Member'])
for comb in combinations_list:
    checking_date_type = datetime.strptime(comb[0], '%Y-%m-%d')
    checkout_date_type = datetime.strptime(comb[1], '%Y-%m-%d')
    url = f"https://www.expedia.com/Hotel-Search?adults={numOfAdults}&d1={comb[0]}&d2={comb[1]}&destination={city}&endDate={comb[1]}&latLong={city_latlong}&regionId={city_region_id}&rooms={numOfRooms}&semdtl=&sort=RECOMMENDED&startDate={comb[0]}&theme=&useRewards=false&userIntent="
    single_search_df  = single_search(url,driver , Snapshot_date, checking_date_type, checkout_date_type)
    expedia_df = pd.concat([expedia_df, single_search_df])

    
#driver.quit()

error Discover Boston
error Sky Hotel Flushing/LaGuardia Airport
error Discover Washington, DC
error Find your luxury escape
error Latisha house

In [12]:
len(expedia_df)

200

In [13]:
expedia_df.head(60)

,Snapshot,Index,Hotel Name,TTT,LOS,Grade,Num of Reviews,Curr Price,Original Price,Left at this Price,Included,Refundable,Pay Later,Option Member
0,2023-03-03 17:13:44.747469,1,"PUBLIC, an Ian Schrager hotel",0,1,8.0,"(1,450 reviews)",349,None,VIP Access,[],False,False,True
1,2023-03-03 17:13:44.747469,2,The Westin New York Grand Central,0,1,8.6,"(1,170 reviews)",204,None,We have 5 left at,[],False,False,False
2,2023-03-03 17:13:44.747469,3,Sofitel New York,0,1,8.8,"(1,002 reviews)",242,269,10% off,[],False,False,False
3,2023-03-03 17:13:44.747469,4,Hilton Garden Inn NYC Financial Center/Manhatt...,0,1,8.6,"(1,002 reviews)",162,190,None,[],True,True,True
4,2023-03-03 17:13:44.747469,5,"Club Quarters Hotel, World Trade Center",0,1,8.6,"(1,093 reviews)",179,None,None,[],True,True,True
5,2023-03-03 17:13:44.747469,6,"The Jewel, a Club Quarters Hotel, Opposite Roc...",0,1,9.2,"(1,222 reviews)",209,None,None,[],True,True,True
6,2023-03-03 17:13:44.747469,7,Park Central Hotel New York,0,1,8.0,"(1,890 reviews)",224,249,None,[],False,False,True
7,2023-03-03 17:13:44.747469,8,Four Points By Sheraton New York Downtown,0,1,7.4,"(1,002 reviews)",169,None,We have 5 left at,[],False,False,False
8,2023-03-03 17:13:44.747469,9,The Shelburne Sonesta New York,0,1,8.2,"(1,004 reviews)",157,None,VIP Access,[],False,False,False
9,2023-03-03 17:13:44.747469,10,Freehand New York,0,1,8.2,"(1,003 reviews)",179,None,We have 1 left at,[],True,False,False
10,2023-03-03 17:13:44.747469,11,Courtyard New York Manhattan/ Midtown East,0,1,8.6,"(1,257 reviews)",238,485,We have 5 left at 51% off at,[],False,False,False
11,2023-03-03 17:13:44.747469,12,Omni Berkshire Place,0,1,9.0,"(1,001 reviews)",203,239,15% off,[],False,False,False
12,2023-03-03 17:13:44.747469,13,Park Terrace Hotel,0,1,9.2,"(1,002 reviews)",269,None,None,[],True,True,True
13,2023-03-03 17:13:44.747469,14,"Club Quarters Hotel, Grand Central",0,1,8.2,"(1,140 reviews)",209,None,None,[],True,True,True
14,2023-03-03 17:13:44.747469,15,Hilton Garden Inn New York/Manhattan-Midtown East,0,1,8.2,"(1,001 reviews)",186,None,We have 4 left at,[],True,True,False
15,2023-03-03 17:13:44.747469,16,Radio Hotel,0,1,8.8,(328 reviews),145,None,None,[],False,False,True
16,2023-03-03 17:13:44.747469,17,Archer Hotel New York,0,1,9.0,"(1,003 reviews)",279,None,We have 2 left at,[],False,False,False
17,2023-03-03 17:13:44.747469,18,Hyatt Centric Midtown 5th Avenue New York,0,1,8.6,(337 reviews),209,None,We have 1 left at,[],False,False,False
18,2023-03-03 17:13:44.747469,19,Soho Grand Hotel,0,1,8.8,"(1,002 reviews)",314,349,None,[],False,False,True
19,2023-03-03 17:13:44.747469,20,SpringHill Suites by Marriott New York Manhatt...,0,1,8.0,"(1,005 reviews)",178,209,None,[Breakfast included],False,False,True
20,2023-03-03 17:13:44.747469,21,Paramount Times Square,0,1,7.2,"(1,018 reviews)",146,None,We have 5 left at,[],False,False,False
21,2023-03-03 17:13:44.747469,22,The Maritime Hotel,0,1,9.4,"(1,004 reviews)",259,288,We have 1 left at 10% off at,[Breakfast included],True,True,False
22,2023-03-03 17:13:44.747469,23,Hilton Garden Inn New York/West 35th Street,0,1,9.0,"(1,002 reviews)",229,None,None,[],True,False,True
23,2023-03-03 17:13:44.747469,24,Renaissance New York Midtown Hotel,0,1,9.2,"(1,000 reviews)",259,None,We have 5 left at,[],False,False,False
24,2023-03-03 17:13:44.747469,25,Dream Downtown,0,1,7.2,"(1,003 reviews)",205,None,None,[Pool],True,True,True
25,2023-03-03 17:13:44.747469,26,Four Points by Sheraton Manhattan - Chelsea,0,1,7.6,"(1,000 reviews)",229,None,We have 1 left at,[],False,False,False
26,2023-03-03 17:13:44.747469,27,Truss Hotel Times Square,0,1,7.8,(507 reviews),237,279,None,[],False,False,True
27,2023-03-03 17:13:44.747469,28,Hyatt Grand Central New York,0,1,7.8,"(1,628 reviews)",219,None,We have 3 left at,[],False,False,False
28,2023-03-03 17:13:44.747469,29,Hotel Boutique at Grand Central,0,1,8.4,"(1,002 reviews)",209,None,None,[],True,True,True
29,2023-03-03 17:13:44.747469,30,Embassy Suites by Hilton New York Manhattan Ti...,0,1,8.4,"(1,003 reviews)",211,248,None,[Breakfast included],False,False,True
30,2023-03-03 17:13:44.747469,31,Fitzpatrick Grand Central,0,1,9.0,"(1,000 reviews)",198,None,We have 6 left at,[],True,True,False
31,2023-03-03 17:13:44.747469,32,Dream Midtown,0,1,8.0,"(1,003 reviews)",205,None,VIP Access,[],True,True,True
32,2023-03-03 17:13:44.747469,33,Ameritania Hotel at Times Square,0,1,8.4,"(1,125 reviews)",229,None,None,[],False,False,True
33,2023-03-03 17:13:44.747469,34,World Center Hotel,0,1,8.6,"(1,282 reviews)",199,None,None,[],True,True,True
34,2023-03-03 17:13:44.747469,35,Pod 39,0,1,8.4,"(1,005 reviews)",159,None,None,[],True,True,True
35,2023-03-03 17:13:44.747469,36,Broadway Plaza Hotel,0,1,8.8,"(1,155 reviews)",209,None,We have 2 left at,[],False,False,False
36,2023-03-03 17:13:44.747469,37,Royalton New York,0,1,8.0,"(1,001 reviews)",216,309,None,[],False,False,True
37,2023-03-03 17:13:44.747469,38,The Bryant Park Hotel,0,1,9.0,"(1,000 reviews)",245,None,VIP Access,[],True,True,True
38,2023-03-03 17:13:44.747469,39,"Aloft Manhattan Downtown - Financial District,...",0,1,8.0,(999 reviews),189,None,We have 1 left at,[],False,False,False
39,2023-03-03 17:13:44.747469,40,Westgate New York Grand Central,0,1,8.6,"(1,000 reviews)",199,284,None,[],True,True,True
40,2023-03-03 17:13:44.747469,41,"The Bernic Hotel New York City, Tapestry Colle...",0,1,8.8,"(1,000 reviews)",199,None,We have 1 left at,[],True,True,False
41,2023-03-03 17:13:44.747469,42,Hilton New York Fashion District,0,1,8.0,"(1,002 reviews)",245,None,None,[],True,False,True
42,2023-03-03 17:13:44.747469,43,Courtyard by Marriott New York World Trade Cen...,0,1,7.6,(29 reviews),179,None,We have 5 left at,[],True,True,False
43,2023-03-03 17:13:44.747469,44,citizenM New York Bowery,0,1,9.2,"(1,286 reviews)",259,None,None,[],True,True,False
44,2023-03-03 17:13:44.747469,45,31 Street Broadway Hotel,0,1,5.0,(581 reviews),59,None,None,[Kitchen],False,False,True
45,2023-03-03 17:13:44.747469,46,Courtyard by Marriott New York City Manhattan ...,0,1,8.4,"(1,001 reviews)",206,None,We have 5 left at,[],False,False,False
46,2023-03-03 17:13:44.747469,47,"InterContinental New York Barclay, an IHG Hotel",0,1,8.6,"(1,002 reviews)",239,None,None,[],False,False,False
47,2023-03-03 17:13:44.747469,48,The James New York - NoMad,0,1,8.4,"(1,000 reviews)",237,249,VIP Access,[],True,True,False
48,2023-03-03 17:13:44.747469,49,Ramada by Wyndham New York Times Square West,0,1,7.6,"(1,003 reviews)",169,None,We have 2 left at,[Breakfast included],True,True,False
49,2023-03-03 17:13:44.747469,50,Arlo NoMad,0,1,8.0,"(1,595 reviews)",266,None,VIP Access,[],True,True,True
50,2023-03-03 17:13:44.747469,51,Warwick New York,0,1,8.0,"(1,200 reviews)",235,None,None,[],False,False,True
51,2023-03-03 17:13:44.747469,52,INNSiDE by Meli√° New York Nomad,0,1,8.8,"(1,332 reviews)",230,None,VIP Access,[],False,False,True
52,2023-03-03 17:13:44.747469,53,Mondrian Park Avenue,0,1,7.4,"(1,003 reviews)",219,None,VIP Access,[],False,False,True
53,2023-03-03 17:13:44.747469,54,"Club Quarters, Times Square - Midtown",0,1,8.4,"(1,732 reviews)",229,None,None,[],True,True,True
54,2023-03-03 17:13:44.747469,55,AC Hotel by Marriott New York Downtown,0,1,9.0,(939 reviews),219,None,We have 6 left at,[],True,True,False
55,2023-03-03 17:13:44.747469,56,Hyatt Centric Wall Street New York,0,1,8.8,(999 reviews),229,None,We have 8 left at,[],True,True,False
56,2023-03-03 17:13:44.747469,57,Pestana Park Avenue,0,1,8.8,(321 reviews),228,285,VIP Access,[],False,False,False
57,2023-03-03 17:13:44.747469,58,YOTEL New York Times Square,0,1,7.0,"(1,873 reviews)",215,239,None,[],False,False,True
58,2023-03-03 17:13:44.747469,59,DoubleTree by Hilton New York Downtown,0,1,7.2,"(1,149 reviews)",189,None,None,[],True,True,True
59,2023-03-03 17:13:44.747469,60,1 Hotel Central Park,0,1,9.0,"(1,001 reviews)",399,665,None,[],False,False,True

In [14]:
expedia_df.groupby(['TTT','LOS']).count()

         Snapshot  Index  Hotel Name  Grade  Num of Reviews  Curr Price  \
TTT LOS
0   1         100    100         100    100             100         100
    2         100    100         100    100             100         100

         Original Price  Left at this Price  Included  Refundable  Pay Later  \
TTT LOS
0   1                23                  49       100         100        100
    2                25                  50       100         100        100

         Option Member
TTT LOS
0   1              100
    2              100

In [ ]:
file_name = "expedia_hotels.csv"
if os.path.exists(file_name):#if the "Booking_hotels.csv" exists
    print("exists")
    expedia_df.to_csv(file_name,mode = 'a' , index= False ,header=False)#append without the header
else:
    print("new")
    expedia_df.to_csv(file_name,mode = 'a' , index= False ,header=True)#append with the header